body {
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.card-pets {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: rgb(205, 203, 203) 1px solid;
  background-color: gainsboro;
}

.card {
  padding: 10px;
  font-weight: bold;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}

.collection-card {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.carte-container {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background: #f9f9f9;
  min-width: 150px;
}

.line-card {
  padding: 20px;
}
